<div class="main">
  <h1>
    Kings of Rochester EURO 2016
  </h1>
  <div class="notice">
    <p>
      <em>
        Data from the UK football service that I use for scoring updates hasn't been as dependable as I had hoped, but at the very least, I still expect these standings to be accurate as of an hour or so after each day's final match. - Eric
      </em>
    </p>
  </div>
  <div class="standings">
  <ol>
    <% @owners.each do |owner| %>
      <div class="owner">
        <li>
          <strong><%= owner.name %></strong> - <%= owner.points %> PTS
          <table>
            <tr>
              <th></th>
              <th>Country</th>
              <th class="num">Plyd</th>
              <th class="num">Points</th>
            </tr>
            <% owner.countries.each do |team| %>

              <tr>
                <td class="flag"><img src="<%= team.flag %>"></td>
                <td class="country"><%= team.name %></td>
                <td class="num"><%= team.played %></td>
                <td class="num"><strong><%= team.points %></strong></td>
              </tr>
            <% end %>
          </table>
        </li>
      </div>
    <% end %>
  </ol>
</div>
</div>
